#app {

  // 主体区域 Main container
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  // 侧边栏 Sidebar container
  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    background-image: url("../assets/motor/sidebar3.jpg");
    opacity: .85;
    background-size:cover;
    box-shadow: 3px -1px 4px 0px black;

      //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;

      .el-scrollbar__view {
        height: 100%;
        background-color: #10110f96;
      }
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .menu-wrapper {
      margin: 5px 5px;
      border: 0;
      border-radius:12px;
      -webkit-transform: translateZ(0);
      -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
      padding: 0;
      color: #ffffff;
      display: flex;
    }

    .logo {
      box-sizing: border-box;
      color: rgb(73, 80, 87);
      display: block;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 14px;
      font-weight: 300;
      height: 50px;
      letter-spacing: normal;
      line-height: 21px;
      padding-bottom: 15px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 15px;
      position: relative;
      text-size-adjust: 100%;
      width: 260px;
      z-index: 4;
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .logo-mini {
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: block;
      float: left;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      height: 59px;
      letter-spacing: normal;
      line-height: 30px;
      margin-left: 11px;
      margin-right: 11px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 5px;
      position: relative;
      text-align: center;
      text-decoration-color: rgb(255, 255, 255);
      text-decoration-line: none;
      text-decoration-style: solid;
      text-size-adjust: 100%;
      top: -5px;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: color, background-color, opacity;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      width: 40px;
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .logo-img {
      background-attachment: scroll;
      background-clip: border-box;
      background-color: rgb(255, 255, 255);
      background-image: none;
      background-origin: padding-box;
      background-position-x: 0%;
      background-position-y: 0%;
      background-size: auto;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      box-shadow: rgba(0, 0, 0, 0.42) 0px 10px 30px -12px, rgba(0, 0, 0, 0.12) 0px 4px 25px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: inline-block;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      height: 40px;
      letter-spacing: normal;
      line-height: 30px;
      overflow-x: hidden;
      overflow-y: hidden;
      text-align: center;
      text-size-adjust: 100%;
      text-transform: uppercase;
      width: 40px;
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .logo-normal {
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      cursor: pointer;
      display: block;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-size: 18px;
      font-weight: 400;
      height: 40px;
      letter-spacing: normal;
      line-height: 30px;
      padding-bottom: 5px;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 5px;
      text-decoration-color: rgb(255, 255, 255);
      text-decoration-line: none;
      text-decoration-style: solid;
      text-size-adjust: 100%;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: color, background-color, opacity;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      width: auto;
      -webkit-font-smoothing: antialiased;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    .el-divider--horizontal {
      background-color: #dcdfe663;
      width: auto;
      margin: 12px 12px;
    }

    .el-menu-item {
      font-size: 15px;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-submenu__title {
      &:hover {
        background-color: $menuHover !important;
      }
    }

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;
      background-color: $subMenuBg !important;
      border-radius: 3px;

      &:hover {
        background-color: $subMenuHover !important;

      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }

    .main-container {
      margin-left: 36px;
    }

    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;

      .el-tooltip {
        padding: 0 10px !important;
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding-left: 10px !important;

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  // 适配移动端, Mobile responsive
  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform .28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 16px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    &:hover {
      // you can use $subMenuHover
      background-color: $menuHover !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
